<h1>{{fortune.title}}</h1>

<button type="button"><a href="{% url 'fortune:index' %}">Back to menu</a></button>
<div>
<form action="{% url 'fortune:up' fortune.id %}" method="post">
	{% csrf_token %}
<input type="submit" value="+"></button>
</form>
<h1>{{fortune.score}}</h1>
<form action="{% url 'fortune:down' fortune.id %}" method="post">
	{% csrf_token %}
<input type="submit" value="-"></button>
</form>
</div>
<ul>
    <li>{{fortune.text}}
    <li>{{fortune.pub_date}}</li>
</ul>