{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h1>{{fortune.title}}</h1>

<nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="{% url 'fortune:index' %}">Menu</a></li>
			<li><a href="{% url 'fortune:new' %}">Create a new fortune</a></li>
			<li><a href="{% url 'fortune:results' %}">Top 30</a></li>
			<li><a href="{% url 'fortune:connect' %}">Log in</a></li>
		</ul>
	</div>
</nav>

<table>
	</tr>
	<td>
<form action="{% url 'fortune:up' fortune.id %}" method="post">
	{% csrf_token %}
	{% buttons %}
	<button type="submit" class="btn btn-success">+</button>
	{% endbuttons %}
</form>
	</td>
		<td><p style="padding-left:5px; padding-right:5px;">Score: {{ fortune.score }}</p></td>
	<td>
<form action="{% url 'fortune:down' fortune.id %}" method="post">
	{% csrf_token %}
	{% buttons %}
	<button type="submit" class="btn btn-danger">-</button>
	{% endbuttons %}
</form>
	</td>
	</tr>
</table>

<div class="jumbotron">
	<div class="col-lg-offset-1">
    <p>{{fortune.text}}</p>
	</div>
</div>
<li>{{fortune.pub_date}}</li>