{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h1>Log In</h1>
<nav class="navbar navbar-default">
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="{% url 'fortune:index' %}">Menu</a></li>
			<li><a href="{% url 'fortune:new' %}">Create a new fortune</a></li>
			<li><a href="{% url 'fortune:results' %}">Top 30</a></li>
			<li class="active"><a href="{% url 'fortune:connect' %}">Log in</a></li>
		</ul>
	</div>
</nav>

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
<h2>You are connected, {{ user.username }} !</h2>
<button><a href="{% url 'fortune:deconnect' %}">Log out</a></button>
{% else %}
<form method="post" action=".">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Login" />
</form>
<button><a href="{% url 'fortune:register' %}">Register</a></button>
{% endif %}